/*fonts*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icons.woff2) format('woff2');
}

@font-face {
    font-family: 'summer';
    src: url(../fonts/SummerHearts-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'filler';
    src: url(../fonts/BLOKKNeue-Regular.woff) format('woff');
}
@font-face {
    font-family: 'adamcg';
    src: url(../fonts/adam.cg-webfont.woff) format('woff');
}
body {
    font-family: Poppins;
    overflow-x: hidden;
    background-color: white;
}
/*navigation*/
.navBar {
    display: flex;
    align-items: center;
    height: 45px;
    position: fixed;
    z-index: 999;
}
.navBar .slant {
    height: 80px;
    width: 900px;
    top: -60px;
    -webkit-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    background-color: white;
    position: fixed;
}
.navBar .navBarBtn {
    position: fixed;
    z-index: 998;
    top: 8;
    font-size: 20px;
    cursor: pointer;
    display: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    left: 18px;
    color: rgb(254,0,2);
    padding: 5px;

}
/*sideNav*/
.sideNav {
    padding-top: 60px;
}
/*login-box*/
.login-box-container {
    padding: 30px;
}
.loginBox {
    position: relative;
    padding: 20px;
    background-color: rgb(254,0,2);
    color: white;
    height: 116px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
}
.loginBox .name {
    font-size: 18px;
}
.loginBox .email {
    font-size: 12px;
    margin-top: -20;
}
.notificationCount {
    top: 25px;
    cursor: pointer;
    right: 25px;
    position: absolute;
}
.notificationCount i {
    z-index: 6;
    position: relative;
    text-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
}
.notificationCount .count {
    position: absolute;
    top: 5px;
    display: flex;
    font-size: 11px;
    z-index: auto;
    align-items: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: white;
    justify-content: center;
    background-color: rgba(0,0,0,.3);
    height: 20px;
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
    width: 20px;
    left: 14px;
}
/*feed*/
.nav-responsive-container {
    padding-left: 250px;
    position: relative;
    width: 100%;
}
.feed-container {
    width: 100%;
    background-color: white;
    position: relative;
    top: 340px;
    padding: 50px;
}
.feed {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/*post*/
.post {
    width: 290px;
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
    border-radius: 4px;
    background-color: white;
}
.post .thumbNail {
    height: 200px;
    background-size: cover;
}
.post .header {
    display: flex;
    padding: 20px;
    padding-top: 25px;
    color: black;
    font-weight: 500;
    padding-bottom: 6px;
}
.post .description {
    padding: 20px;
    padding-top: 5px;
    color: gray;
    font-size: 12px;
}
.post .author {
    display: flex;
    padding: 20px;
    font-size: 11px;
    align-items: center;
}
.author .name {
    font-size: 130%;
    margin-bottom: -2px;
}
.author .author-text {
    margin-left: 10px;''
}
.post .header .fee {
    margin-left: auto;
}
.post .profilePicture {
    height: 30px;
    width: 30px;
}
.hoverUp {
    transition: transform .2s;
}
.hoverUp:hover {
    transform: translateY(-3px);
}
.post .qualities {
    display: flex;
    margin-top: -2px;
    color: rgba(254,0,2, .6);
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(246, 249, 252);
    padding-bottom: 17px;
    margin-bottom: 10px;
}
.post .qualities .quality {
    display: flex;
    font-size: 12px;
    align-items: center;
}
.post .qualities .quality i {
    font-size: 16px;
    margin-right: 2px;
}
.vertDivider {
    margin-left: 5px;
    margin-right: 2px;
}
/*header section*/
.pageHeader {
    font-size: 50px;
    display: flex;
    height: 340px;
    align-items: center;
    font-weight: 700;
    position: fixed;
    width: calc(100% - 200px);
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, rgb(254,0,2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, rgb(254,0,2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url("../media/sapharii-bg.png");

    -webkit-background-size: cover;
    background-position: center;
    background-size: cover;
    justify-content: center;
}
.pageHeader > div > div{
    color: white;
    text-align: center;
    text-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
}
.pageHeader .sub {
    font-size: 60%;
    color: rgba(0,0,0,.7);
    text-shadow: none;

}
/*transition to*/
.transitionTo {
    position: absolute;
    bottom: 0;
    height: 200px;
    left: 0;
    width: 100%;
}
/*feed nav*/
.feedNav {
    margin-bottom: 40px;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}
.feed-catagories {
    display: flex;
    overflow-x: auto;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
.feed-catagories::before, .feed-catagories::after {
    content: '';
    margin: auto;
}
.feed-catagories::-webkit-scrollbar {
    display: none;
}
.feed-catagory {
    padding: 7px;
    background-image: linear-gradient(to right, rgba(254,0,2,1), rgba(254,0,2,.3));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  /* <- here it is */
    margin: 7px;
    margin-top: 20px;
    white-space: nowrap;
    color: rgb(246, 249, 252);
    padding-left: 12px;
    cursor: pointer;
    border-radius: 50px;
    padding-right: 12px;
}
.search-field {
    padding: 30px;
    background-color: rgb(246, 249, 252);
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.search-field i {
    margin-right: 10px;
}
.input-field input[type=text] {
    border-bottom: none;
    box-shadow: none;
    margin-bottom: 0px!important;
}
.input-field input[type=text]:focus {
    border-bottom: none!important;
    box-shadow: none!important;
}
.catagory-advance {
    top: 83px;
    cursor: pointer;
    padding: 8px;
    z-index: 10;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}

.catagory-advance#chevron_left {
    position: absolute;
    left: 0px;
}
.catagory-advance#chevron_right {
    position: absolute;
    right: 0px;

}
.catagory-advance .gradient {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: gray;
}
/*animations for react css group*/
.btn-anim-enter {
    opacity: .01;
    transition: opacity .2s;
}
.btn-anim-enter.btn-anim-enter-active {
    opacity: 1;
    transition: opacity .2s;
}
.btn-anim-leave {
    opacity: 1;
    transition: opacity .2s;
}
.btn-anim-leave.btn-anim-leave-active {
    opacity: .01;
    transition: opacity .2s;
}
/*responsive*/
@media only screen and (max-width: 992px) {
    .nav-responsive-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .pageHeader {
        width: calc(100%)!important;
    }
    .logo {
        display: none;
    }
    .navBarBtn {
        display: block!important;
    }

}
@media only screen and (max-width: 1200px) {
    .catagory-advance {
        top: 80px;
    }
}
@media only screen and (max-width: 700px) {
    .catagory-advance {
        top: 80px;
    }
    .pageHeader {
        font-size: 40px;
    }
}